@charset "UTF-8";

h1 {
	font-family: 'Muli', sans-serif;
	text-align: center;
}

div#typeLoc, div#Orientation, div#nbPiece, div#nbChambre, div#TypeChauffage, div#Amenagement, div#Exclusiv, div#OptionImmeuble, div#CommodImmeuble, div#PieceSpe, div#Rangem {
	background-color: #595D61;
	padding: 20px;
	text-align: center;
	border-radius: 4px;
}


.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

p.alertF {
	width: 100%;
	height: 30px;
	text-align: right;
	font-size: 1.2em;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 0, 0, 0.5);;
	z-index: 5;
	color: #fff;
	padding-top : 6px;
	font-weight: 700;
	padding-right: 10px;
}

#se1ectDept {
	text-align: center;
	width: 100px;
}

.progressionGlobale {
	position:fixed;
	bottom: 0;
	left: 0;
	border-radius: 0;
	height: 5px;
}
