@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
  background-color: grey;
  text-align: center;
  color: #fff;
}
div {
  padding: 0px;
}
img {
  width:100%;
  height: auto;
}
main > div > div > div img:first-child {
	margin-bottom: 30px;
}
#remplacer {
	width: 100%;
}
.bandeau {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 30px;
	width: 94.8%;
	color: black;
	font-weight: bold;
}
button {
	background-color: blue;
	border: none;
	border-radius: 7px;
	color: #fff;
	font-weight: bold;
}
